* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
a {
  color: white; text-decoration: none;
}
li a {
  border-radius: 4px;
}
.card {
  border: 2px solid #88bf09cf;
  border-radius: 10px;
}
.content {
  padding: 10px;
}
.img {
  border-radius: 10px 10px 0 0;
}
.badge {
  top: 10px;
  right: 20px;
  font-size: 17px;
}
.input {
  width: 40%;
  border-radius: 8px;
  border: 2px solid transparent;
  box-shadow: 1px 3px 9px #00000040;
  padding: 10px 15px;
  transition: .1s border;
}
.input:focus {
  outline: none;
  border: 2px solid #7dae09;
}
.button {
  box-shadow: 1px 3px 9px #00000040;
  background-color: #79a908;
  border-color: #89bf09;
  padding: 6px 14px;
  border-radius: 0.375rem;
  transition: .15s all;
}
.button a {
  color: #fff;
}
.page-link {
  color: #678917;
  background-color: #8fc80a33;
  border-color: #72981a30;
  transition: .15s all;
}
.page-item:not(.active):hover .page-link{
  color: #445a13;
  background-color: #64890e38;
  border-color: #4a611430;
}
.page-item.active .page-link {
  color: #ffffff;
  background-color: #79a908;
  border-color: #72981a30;
}
.button:hover {
  background-color: #89bf09;
  border-color: #79a908;
}
.bookmark-btn {
  width: 33px;
  height: 33px;
  top: 10px;
  left: 22px;
  color: #fff;
  background-color: #00000046;
  backdrop-filter: blur(5px);
  border-radius: 4px;
  padding: 3px;
  border: none;
}
.spin-loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #678917;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.spoiler {
  font-size: 18px;
  transition: width .2s;
  width: 90px;
  height: 40px;
  backdrop-filter: blur(2px);
  user-select: none;
  background-color: #a8a8a846;
}
.spoiler:hover {
  width: 110px;
}
.spoiler p {
  margin: 0;
  transition: opacity .3s;
  position: absolute;
}
.spoiler .spoiler-text {
  visibility: visible;
  opacity: 1;
}
.spoiler:hover .spoiler-text {
  visibility: hidden;
  opacity: 0;
}

.spoiler .badge-text {
  visibility: hidden;
  opacity: 0;
}
.spoiler:hover .badge-text {
  visibility: visible;
  opacity: 1;
}

.form-check-input:checked + label {
  background-color: #93ce0a;
  border: 1px solid #77a709;
  color: #fff;
}
input[type="radio"] { 
  display: none; 
}

.status-button {
  background-color: #79a908;
  font-size: 18px;
  border: 1px solid transparent;
  padding: 6px 14px;
  border-radius: 0.375rem;
  transition: .15s all;
  color: #fff;
  cursor: pointer;
}
.page-link:focus,
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: #445a13;
  background-color: #72981a30;
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 576px) {
  .input { width: 80%; }
}
@media (max-width: 768px) {
  .pagination {font-size: 12px}
  .next,
  .prev {display: none}
}
@media (max-width: 768px) {
  .pagination {font-size: 14px}
}